.header {
    background: #fff;
}

.header-left {
    padding: 15px;
    background: #4aaaa5;
}

#header-name {
    font-size: 2.5rem;
    margin-left: 0;
    color: #fff;
    text-align: center;
    float: none;
}

.header-links {
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-link-name {
    font-size: 1.7rem;
    text-align: center;
}

.dev {
    border: 1px black solid;
}

.main-content-section {
    margin: 20px 10px;
    border: 1px #dddddd solid;
}

.profile-img {
    padding-right: 1rem;
    width: 200px;
    float: left;
  }
  
  .article-title {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 2rem 0;
    border-bottom: 2px #dddddd solid;
    margin: 0 2rem;
    color: #4aaaa5;
  }
  
  h1,
  h2,
  h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
  }

  h3 {
    text-align: center;
    font-size: 1.9rem;
    font-weight: bold;
    padding: 1.2rem 0;
    border-bottom: 1px #dddddd solid;
    margin: 0 2rem;
    color: #4aaaa5;
  }

  .social-icon {
    width: 4.5rem;
  }
  
  .social {
    text-align: center;
    padding: 0.5rem;
  }
  
  .social li {
    padding: 2px;
    display: inline-block;
  }